.navbar {
  display: flex;
  align-self: center;
}

.navbar--menu {
  display: flex !important;
  align-items: baseline;
  z-index: 1000;
  margin: -1.5rem 0 -.75rem 0!important;
  border: none;
}

.navbar--logo {
  font-size: 2rem;
  font-weight: bolder;
}

.navbar--button {
  margin-bottom: .25rem!important;
}

.navbar--button__logout {
  display: flex;
  align-items: space-around;
}

.avatar {
  border-radius: 50%;
  margin: 0 1rem 0 0;
  max-width: 3rem;
  max-height: 3rem;
}